@page "/"
@namespace WarframeUtil.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<div id="components-reconnect-modal"></div>

<style>
    .components-reconnect-show, .components-reconnect-failed, .components-reconnect-rejected {
         display: none;
    }
</style>

<app>
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
</app>

